Completed/DependencyInjection/AuthorsUnitTests/bin/Debug
Completed/DependencyInjection/AuthorsUnitTests/obj
Completed/DependencyInjection/.vs/DependencyInjection/v16
Completed/DependencyInjection/.vs/DependencyInjection/DesignTimeBuild
Completed/DependencyInjection/DependencyInjection/bin
Completed/DependencyInjection/DependencyInjection/obj/Debug
Completed/DependencyInjection/DependencyInjection/obj
ToBeCompleted/DependencyInjection/.vs/DependencyInjection/v16
ToBeCompleted/DependencyInjection/AuthorsUnitTests/bin/Debug
ToBeCompleted/DependencyInjection/AuthorsUnitTests/obj/Debug
ToBeCompleted/DependencyInjection/AuthorsUnitTests/obj
ToBeCompleted/DependencyInjection/DependencyInjection/obj/Debug
ToBeCompleted/DependencyInjection/DependencyInjection/bin
Completed/DependencyInjection/.vs
ToBeCompleted/DependencyInjection/.vs
ToBeCompleted/DependencyInjection/DependencyInjection/obj
